In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('dataset.csv')

In [3]:
print(data)

                                Name  Serial Number Enrollment Number  \
0             AGRAWAL JYOTI MOHANLAL          37652     MAH/1385/1991
1           AGRAWAL MAMATA ASHOKUMAR          35439     MAH/1222/1990
2               ALI SHAMINA MOHEMMED          24184      MAH/499/1984
3           ALSHI SUNANDA MAHADEORAO          24022      MAH/338/1984
4           ANSARI FARIDA MOHD NAZIM          23544     MAH/1698/1983
5                  ANSARI ISHRAT ISA          61260     MAH/2206/2000
6                 APTE CHARUTA ASHOK          68095     MAH/1396/2002
7           ASHTEKAR SWAPNAJA NARHAR          37693     MAH/1426/1991
8                   ATRE SUMATI ANIL          26912     MAH/1556/1985
9              BACHHAV SARUBAI RATAN          34235       MAH/40/1990
10         BAFNA PRAKRUTI PRITHVIRAJ          59271      MAH/242/2000
11          BAGWAN FARJANA ABBASBHAI          35332   \tMAH/1120/1990
12                  BAKSHI PUJA UDAY          57430     MAH/4241/1999
13            BASRUR SHEENA DEVADIGA          22346      MAH/511/1983
14              BHAT NAMITA NILKANTH          29448      MAH/845/1987
15           BHELANDE SANDHYA HEMANT          37467     MAH/1200/1991
16                BHIDE ALKA SUBHASH          37270     MAH/1004/1991
17           BHIDE SUNANDA RAGHUNATH          12766      MAH/757/1976
18           BHINGARE PALLAVI SATISH          56185     MAH/2996/1999
19      BHOSALE ASHWINI DHAIRYASHEEL          55732     MAH/2543/1999
20       BHOSALE PRANITA CHANDRAKANT          34845      MAH/639/1990
21             BIDAY MEENA MURLIDHAR          37485     MAH/1218/1991
22             BIJLANI ANSHI JOTUMAL          15076      MAH/943/1978
23              BOBHATE ANAGHA VIJAY          37326     MAH/1060/1991
24             BODADE CHOKHA VISHRAM          20768      MAH/504/1982
25                 BOLE SUSHAMA AMIT          37510     MAH/1243/1991
26         BOSAMIA DEEPALI PARMANAND          37624     MAH/1357/1991
27        BULBULE MEERASAB MASTANSAB          30653      MAH/369/1988
28                    CARIAPA DEVIKA          37664     MAH/1397/1991
29               CHACHA SEJAL NILESH          29750     MAH/1143/1987
30  CHANDURKAR SUWARNAREKHA PADMAKAR          33681     MAH/1456/1989
31                    CHANNE LEELAJI          22862     MAH/1024/1983
32            CHAPKE KRANTI DIGAMBER          26905     MAH/1549/1985
33          CHARI SESHADRI RAMANUJAN          27559      MAH/552/1986
34        CHAUDHARI LEELAVATI SUKLAL          22309      MAH/475/1983
35             CHAVAN DEEPALI MILIND          55095     MAH/1906/1999
36        CHAVAN RANJANADEVI BAJIRAO          35569     MAH/1352/1990
37    CHELLANI JAISHRI HARISHCHANDER          37521     MAH/1254/1991

      Gender  Experience  Rating
0     Female          31    3.50
1   \tFemale          20    4.50
2   \tFemale          25    4.70
3   \tFemale          10    2.90
4   \tFemale          11    3.70
5   \tFemale          23    4.70
6   \tFemale          21    4.00
7   \tFemale          32    4.54
8     Female          14    2.34
9     Female          10    4.24
10    Female           9    4.23
11    Female          23    3.45
12    Female          12    3.99
13    Female          23    3.25
14    Female          31    3.50
15    Female          11    4.50
16    Female          15    4.70
17    Female          19    2.90
18    Female          19    3.70
19    Female          13    4.70
20    Female          25    4.00
21    Female          30    4.54
22    Female          23    2.34
23    Female          27    4.24
24    Female          29    4.23
25    Female          18    3.45
26    Female          12    3.99
27    Female          34    3.25
28    Female          31    4.89
29    Female          37    4.34
30    Female          12    3.89
31    Female          13    4.12
32    Female          15    2.70
33    Female          18    3.43
34    Female          19    4.87
35    Female          21    4.23
36    Female          22    3.46
37    Female          27    3.98

In [4]:
data.head()

,Name,Serial Number,Enrollment Number,Gender,Experience,Rating
0,AGRAWAL JYOTI MOHANLAL,37652,MAH/1385/1991,Female,31,3.5
1,AGRAWAL MAMATA ASHOKUMAR,35439,MAH/1222/1990,\tFemale,20,4.5
2,ALI SHAMINA MOHEMMED,24184,MAH/499/1984,\tFemale,25,4.7
3,ALSHI SUNANDA MAHADEORAO,24022,MAH/338/1984,\tFemale,10,2.9
4,ANSARI FARIDA MOHD NAZIM,23544,MAH/1698/1983,\tFemale,11,3.7

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

ModuleNotFoundError: No module named 'sklearn'

In [6]:
import sklearn

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv=CountVectorizer(max_features=10000, stop_words='english')

In [9]:
cv

CountVectorizer(max_features=10000, stop_words='english')

In [10]:
vector=cv.fit_transform(data['Experience'].values.astype(U)).toarray()

NameError: name 'U' is not defined

In [11]:
vector=cv.fit_transform(data['Experience'].values.astype('U')).toarray()

In [12]:
vector.shape

(38, 20)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
similarity=cosine_similarity(vector)

In [15]:
similarity

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [16]:
data[data['Name']=="ALI SHAMINA MOHEMMED"]

,Name,Serial Number,Enrollment Number,Gender,Experience,Rating
2,ALI SHAMINA MOHEMMED,24184,MAH/499/1984,\tFemale,25,4.7

In [27]:
data[data['Name']=="ALI SHAMINA MOHEMMED"].index[0]

2

In [28]:
distance=sorted(list(enumerate(similarity[2])),reverse=True,key=lambda vector:vector[1])
for i in distance[0:5]:
    print(data.iloc[i[0]].Name)

ALI SHAMINA MOHEMMED
BHOSALE PRANITA CHANDRAKANT
AGRAWAL JYOTI MOHANLAL
AGRAWAL MAMATA ASHOKUMAR
ALSHI SUNANDA MAHADEORAO

In [42]:
def recommend(data, target_name):
    index = data[data['Name'] == target_name].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])
    for i in distance[0:5]:
        print(data.iloc[i[0]]['Name'])

In [43]:
recommend(data,"BHOSALE ASHWINI DHAIRYASHEEL")

BHOSALE ASHWINI DHAIRYASHEEL
CHANNE LEELAJI
AGRAWAL JYOTI MOHANLAL
AGRAWAL MAMATA ASHOKUMAR
ALI SHAMINA MOHEMMED

In [44]:
import pickle

In [51]:
pickle.dump(data,open('lawyers_list.pkl','wb'))

In [52]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [53]:
pickle.load(open('lawyers_list.pkl','rb'))

,Name,Serial Number,Enrollment Number,Gender,Experience,Rating
0,AGRAWAL JYOTI MOHANLAL,37652,MAH/1385/1991,Female,31,3.50
1,AGRAWAL MAMATA ASHOKUMAR,35439,MAH/1222/1990,\tFemale,20,4.50
2,ALI SHAMINA MOHEMMED,24184,MAH/499/1984,\tFemale,25,4.70
3,ALSHI SUNANDA MAHADEORAO,24022,MAH/338/1984,\tFemale,10,2.90
4,ANSARI FARIDA MOHD NAZIM,23544,MAH/1698/1983,\tFemale,11,3.70
5,ANSARI ISHRAT ISA,61260,MAH/2206/2000,\tFemale,23,4.70
6,APTE CHARUTA ASHOK,68095,MAH/1396/2002,\tFemale,21,4.00
7,ASHTEKAR SWAPNAJA NARHAR,37693,MAH/1426/1991,\tFemale,32,4.54
8,ATRE SUMATI ANIL,26912,MAH/1556/1985,Female,14,2.34
9,BACHHAV SARUBAI RATAN,34235,MAH/40/1990,Female,10,4.24
10,BAFNA PRAKRUTI PRITHVIRAJ,59271,MAH/242/2000,Female,9,4.23
11,BAGWAN FARJANA ABBASBHAI,35332,\tMAH/1120/1990,Female,23,3.45
12,BAKSHI PUJA UDAY,57430,MAH/4241/1999,Female,12,3.99
13,BASRUR SHEENA DEVADIGA,22346,MAH/511/1983,Female,23,3.25
14,BHAT NAMITA NILKANTH,29448,MAH/845/1987,Female,31,3.50
15,BHELANDE SANDHYA HEMANT,37467,MAH/1200/1991,Female,11,4.50
16,BHIDE ALKA SUBHASH,37270,MAH/1004/1991,Female,15,4.70
17,BHIDE SUNANDA RAGHUNATH,12766,MAH/757/1976,Female,19,2.90
18,BHINGARE PALLAVI SATISH,56185,MAH/2996/1999,Female,19,3.70
19,BHOSALE ASHWINI DHAIRYASHEEL,55732,MAH/2543/1999,Female,13,4.70
20,BHOSALE PRANITA CHANDRAKANT,34845,MAH/639/1990,Female,25,4.00
21,BIDAY MEENA MURLIDHAR,37485,MAH/1218/1991,Female,30,4.54
22,BIJLANI ANSHI JOTUMAL,15076,MAH/943/1978,Female,23,2.34
23,BOBHATE ANAGHA VIJAY,37326,MAH/1060/1991,Female,27,4.24
24,BODADE CHOKHA VISHRAM,20768,MAH/504/1982,Female,29,4.23
25,BOLE SUSHAMA AMIT,37510,MAH/1243/1991,Female,18,3.45
26,BOSAMIA DEEPALI PARMANAND,37624,MAH/1357/1991,Female,12,3.99
27,BULBULE MEERASAB MASTANSAB,30653,MAH/369/1988,Female,34,3.25
28,CARIAPA DEVIKA,37664,MAH/1397/1991,Female,31,4.89
29,CHACHA SEJAL NILESH,29750,MAH/1143/1987,Female,37,4.34
30,CHANDURKAR SUWARNAREKHA PADMAKAR,33681,MAH/1456/1989,Female,12,3.89
31,CHANNE LEELAJI,22862,MAH/1024/1983,Female,13,4.12
32,CHAPKE KRANTI DIGAMBER,26905,MAH/1549/1985,Female,15,2.70
33,CHARI SESHADRI RAMANUJAN,27559,MAH/552/1986,Female,18,3.43
34,CHAUDHARI LEELAVATI SUKLAL,22309,MAH/475/1983,Female,19,4.87
35,CHAVAN DEEPALI MILIND,55095,MAH/1906/1999,Female,21,4.23
36,CHAVAN RANJANADEVI BAJIRAO,35569,MAH/1352/1990,Female,22,3.46
37,CHELLANI JAISHRI HARISHCHANDER,37521,MAH/1254/1991,Female,27,3.98